<div class="container-fluid menu">
	<div class="navbar-header">
      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        	<span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
      	</button>
    </div>
    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li ng-class="{'menu-active': state == 'home'}"><a ui-sref="home">HOME</a></li>
            <li ng-class="{'menu-active': state == 'empresa'}"><a ui-sref="empresa">A EMPRESA</a></li>
            <li ng-class="{'menu-active': state == 'servicos-solucoes'}"><a ui-sref="servicos-solucoes">SERVIÇOS E SOLUÇÕES</a></li>
            <li ng-class="{'menu-active': state == 'clientes'}"><a ui-sref="clientes">CLIENTES</a></li>
            <li ng-class="{'menu-active': state == 'cases'}"><a ui-sref="cases">CASES</a></li>
            <li ng-class="{'menu-active': state == 'blog'}"><a target="_blank" ui-sref="blog">BLOG</a></li>
            <li ng-class="{'menu-active': state == 'fale-conosco'}"><a ui-sref="fale-conosco">FALE CONOSCO</a></li>
        </ul>
    </div>
</div>