<div class="row">
	<div class="col-md-12">
		<div class="box box-info">
			<div class="box-header with-border">
				<h3 class="box-title">
					Cadastrar Blog
				</h3>
				<div class="pull-right" ng-if="blogs.title_client && blogs.description && imageSrc">
					<a class="btn-preview" ng-click="preview()">[&nbsp;
						<i class="fa fa-eye"></i>&nbsp;&nbsp;Visualizar&nbsp;&nbsp;]
					</a>
				</div>
			</div>
			<div class="box-body pad">
				<div class="row">
					<div class="col-md-12">
						<form role="blogForm" name="blogForm" ng-submit="saveBlog()" novalidate>
							<div class="box-body pad">
								<div class="row">
									<div class="col-md-12">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group" ng-class="{ 'has-error' : errorMsg.title_client &&  blogs.title_client == undefined }">
													<label for="title_client">
														<i ng-show="errorMsg.title_client &&  blogs.title_client == undefined" class="fa fa-times-circle-o"></i>Título
													</label>
													<input type="text" class="form-control" id="title_client" name="title_client" placeholder="Título Blog" ng-model="blogs.title_client" required>
													<span class="help-block" ng-show="errorMsg.title_client &&  blogs.title_client == undefined">{{errorMsg.title_client[0]}}</span>
												</div>
												<div class="form-group" ng-class="{ 'has-error' : errorMsg.title_tags &&  blogs.title_tags == undefined }">
													<label for="title_client">
														<i ng-show="errorMsg.title_tags &&  blogs.title_tags == undefined" class="fa fa-times-circle-o"></i>Tags
													</label>
													<input type="text" class="form-control" id="title_tags" name="title_tags" placeholder="Tags" ng-model="blogs.title_tags" required>
													<span class="help-block" ng-show="errorMsg.title_tags &&  blogs.title_tags == undefined">{{errorMsg.title_tags[0]}}</span>
												</div>
												<div class="form-group" ng-class="{ 'has-error' : errorMsg.title_tags &&  blogs.title_tags == undefined }">
													<label for="date_publish">
														<i ng-show="errorMsg.date_publish &&  blogs.date_publish == undefined" class="fa fa-times-circle-o"></i>Data da Publicação
													</label>
													<div class="input-group date">
														<div class="input-group-addon">
															<span class="glyphicon glyphicon-calendar"></span>
														</div>
														<input type="text" class="form-control" id="date_publish" name="date_publish" ng-model="blogs.date_publish" required>
													</div>
													<span class="help-block" ng-show="errorMsg.date_publish &&  blogs.date_publish == undefined">{{errorMsg.date_publish[0]}}</span>
												</div>
												<div class="form-group" ng-class="{ 'has-error' : errorMsg.user &&  blogs.user == undefined }">
													<input type="hidden" value="{{ blogs.user }}" class="form-control" id="user" name="user" ng-model="blogs.user" required />
												</div>
												<div class="form-group" ng-class="{ 'has-error' : errorMsg.description &&  blog.description == undefined }">
													<label for="description" style="display:block;">
														<i ng-show="errorMsg.title_tags &&  blogs.title_tags == undefined" class="fa fa-times-circle-o"></i>Descrição
														<div class="pull-right" ng-if="blogs.title_client && blogs.description && imageSrc">
															<a class="btn-preview" ng-click="preview()">[&nbsp;
																<i class="fa fa-eye"></i>&nbsp;&nbsp;Visualizar&nbsp;&nbsp;]
															</a>
														</div>
													</label>
													<textarea id="description" name="description" class="ckeditor" ckeditor  ng-model="blogs.description"></textarea>
												</div>
											</div>
											<div class="col-md-6">
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label for="file" style="display: block;">
																Imagem Destacada (Largura: 1024px)
															</label>
															<input type="file" id="file" name="file" class="form-control" ng-file-select="onFileSelect($files)" ngf-accept="image/*" ngf-max-size="5MB" ngf-model-invalid="errorFile" required>
															<span class="help-block" ng-show="errorMsg.image_client_path[0]">{{errorMsg.image_client_path[0]}}</span>
														</div>
													</div>
													<div class="col-md-12">
														<div class="form-group">
															<label>Visualização</label>
															<div class="image-view well well-sm no-shadow">
																<i ng-hide="imageSrc">Sem imagem para visualização</i>
																<img ng-src="{{imageSrc}}" />
															</div>
														</div>
													</div>
													<div class="col-md-12">
														<div class="form-group">
															<label for="files" style="display: block;">Galeria de Imagens (Largura máx. 1140px, Tamanho máx.: 2Mb)</label>
															<input type="file" id="files" name="files" class="form-control" ngf-select="onFilesSelect($files)" accept="image/*" ngf-max-size="2MB" ngf-max-width="1140" ngf-model-invalid="errorFile" multiple />
														</div>
														<div class="form-group">
															<div class="row">
																<div class="col-md-12">
																	<div class="blog-gallery well well-sm no-shadow">
																		<i ng-if="!gallery.length">Sem imagens na galeria</i>
																		<div class="blog-gallery-box" ng-if="gallery.length > 0">
																			<div class="row">
																				<div class="col-md-12">
																					<div class="col-md-3 blog-gallery-item" ng-repeat="g in gallery track by g.id">
																						<span class="gallery-remove-item" title="Remover imagem" ng-click="removeFile(g)"><i class="fa fa-times" aria-hidden="true"></i></span>
																						<div class="gallery-inner">
																							<img ng-src="{{ ::g.thumbnail }}" />
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-heading">Lista de posts do blog</div>
											<div ng-hide="blog.length" class="pad text-center">
												<i>Não há conteúdo do blog cadastrado!</i>
											</div>
											<table class="table table-condensed table-striped" ng-show="blog.length">
												<thead>
													<tr>
														<th class="text-center">#</th>
														<th>Título</th>
														<th>&nbsp;</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="b in blog">
														<td class="text-center">{{ ::b.id }}</td>
														<td>{{ ::b.title_client }}</td>
														<td class="text-right">
															<div class="btn-group">
																<button type="button" class="btn btn-default btn-sm" ng-click="editBlog(b)" title="Editar">
																	<i class="fa fa-edit"></i>
																</button>
																<button type="button" class="btn btn-danger btn-sm" ng-click="deleteBlog(b)" title="Excluir">
																	<i class="fa fa-trash-o"></i>
																</button>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="box-footer">
								<div class="pull-right">
									<button type="submit" class="btn btn-primary">
										<i class="fa fa-save"></i>&nbsp;&nbsp;Salvar
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.row