<div class="cases">
	<div class="container">
		<h2 class="gb">BLOG</h2>

		<div class="cases-list row">

			<div class="col-md-8 col-sm-8 col-xs-12">

				<div class="list-blog-news">

					<h3 class="blog-title">Santa Casa Presidente Epitacio</h3>

					<ul class="list-header-blog nav">

						<li class="col-md-4 col-sm-4 col-xs-12 no-padding"><i class="fa fa-user full-icon" aria-hidden="true"></i> Wally West</li>
						<li class="col-md-4 col-sm-4 col-xs-12 no-padding"><i class="fa fa-calendar full-icon" aria-hidden="true"></i> Terça Feira, Julho, 2017</li>
						<li class="col-md-4 col-sm-4 col-xs-12 no-padding"><i class="fa fa-tags full-icon" aria-hidden="true"></i> Blog</li>

					</ul>

					<img src="img/cases/1_full.jpg" class="img-responsive">

					<div class="detalhe" data-ng-bind-html="blog[blogID-1].html"></div>

					<ul class="list-share nav">

						<li>

							<li class="tags"><i class="fa fa-tags full-icon" aria-hidden="true"></i> Tags: <a ui-sref="javascript:;">Blog</a> &bull; <a ui-sref="javascript:;">Blog</a> &bull; <a ui-sref="javascript:;">Blog</a> &bull; <a ui-sref="javascript:;">Blog</a></li>


							<ul class="list-share-right nav navbar-nav navbar-right share-link">
								<li class="space-link">Compartilhar</li>
								<i><a href="javascript"><img src="img/blog/share_facebook.png"></a></i>
								<i><a href="javascript"><img src="img/blog/share_twitter.png"></a></i>
								<i><a href="javascript"><img src="img/blog/share_pinterest.png"></a></i>
								<i><a href="javascript"><img src="img/blog/share_google.png"></a></i>
							</ul>

						</li>

					</ul>
				</div>

			</div>

			<div class="col-md-4 col-sm-4 col-xs-12">

				<ul class="nav nav-tabs">
					<li class="active"><a href="#last" target="_self" data-toggle="tab">Ultimas</a></li>
					<li><a href="#reads" target="_self" data-toggle="tab">Mais Lidas</a></li>
				</ul>
				<div class="tab-content">

					<div class="tab-pane active" id="last">

						<div class="list-lastnews">

							<div class="image-news">

								<img src="img/cases/2_full.jpg" class="img-responsive">

							</div>

							<p><a href="javascript:;" title="" class="link-news">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</a></p>

						</div>

						<div class="list-lastnews">

							<div class="image-news">

								<img src="img/cases/2_full.jpg" class="img-responsive">

							</div>

							<p><a href="javascript:;" title="" class="link-news">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</a></p>

						</div>

						<div class="list-lastnews">

							<div class="image-news">

								<img src="img/cases/2_full.jpg" class="img-responsive">

							</div>

							<p><a href="javascript:;" title="" class="link-news">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</a></p>

						</div>


					</div>


					<div class="tab-pane" id="reads">

						<div class="list-lasnews">

							<div class="list-lastnews">

								<div class="image-news">

									<img src="img/cases/3_full.jpg" class="img-responsive">

								</div>

								<p><a href="javascript:;" title="" class="link-news">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</a></p>

							</div>

							<div class="list-lastnews">

								<div class="image-news">

									<img src="img/cases/3_full.jpg" class="img-responsive">

								</div>

								<p><a href="javascript:;" title="" class="link-news">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</a></p>

							</div>

							<div class="list-lastnews">

								<div class="image-news">

									<img src="img/cases/3_full.jpg" class="img-responsive">

								</div>

								<p><a href="javascript:;" title="" class="link-news">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</a></p>

							</div>

						</div>

					</div>


				</div>

			</div>

		</div>
	</div>
</div>


