<div class="cases">
	<div class="container">
		<h2 class="gb">{{ case_text.title }}</h2>
		
		<blockquote>{{ case_text.subtitle }}</blockquote>

		<div class="cases-list row" ng-show="cases.length">
			<div class="col-md-4 col-sm-6 col-xs-12 case-item" ng-repeat="c in cases">
				<div class="case-item-image">
					<img class="img-responsive" ng-src="http://localhost:8000/storage/{{c.thumbnail}}" />
				</div>
				<div class="case-item-description">
					<h4 class="gb">{{ c.title }}</h4>
					<div ng-bind-html="c.description"></div>
				</div>
				<div class="case-item-button">
					<a ui-sref="detalhes({ slug : c.slug, id: c.id })" class="gb btn btn-primary case-button">VER CASE</a>
				</div>
			</div>
		</div>
	</div>
</div>

