<div class="case-detail">
	<div class="container" id="case">
	<h2 class="gb">CASES DE SUCESSO</h2>

	<div class="case-detail-box">
		<div class="case-detail-title">
			<h2 class="gb">{{ case.title }}</h2>
			<h5 class="post-date">Postagem feita em 05 de Julho de 2017</h5>
		</div>
		<div class="row">
			<div class="case-detail-image col-sm-6 col-md-5 col-xs-7">
				<img ng-src="http://localhost:8000/storage/{{ case.filepath }}" class="img-responsive" />
			</div>
			<div class="case-detail-description" data-ng-bind-html="case.text"></div>
		</div>
	</div>
</div>