<div class="cases">
	<div class="container">
		<h2 class="gb">CASES DE SUCESSO</h2>
		
		<blockquote>Compromisso e bom atendimento resultam em cases de sucesso:</blockquote>

		<div class="cases-list row">

			<div class="col-md-4 col-sm-6 col-xs-12 case-item">
				<div class="case-item-image">
					<img class="img-responsive" src="./img/cases/1.jpg" />
				</div>
				<div class="case-item-description">
					<h4 class="gb">SANTA CASA DE PRESIDENTE EPITÁCIO</h4>
					<blockquote>
						Uno Gestão de Saúde foi convidada para elaborar um processo de precificação dos serviços prestados pelo Pronto Socorro da Santa Casa de Misericórdia de Presidente Epitácio.
					</blockquote>
				</div>
				<div class="case-item-button">
					<a ui-sref="detalhes({ id : 1, '#': 'case' })" class="gb btn btn-primary case-button">VER CASE</a>
				</div>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12 case-item">
				<div class="case-item-image">
					<img class="img-responsive" src="./img/cases/2.jpg" />
				</div>
				<div class="case-item-description">
					<h4 class="gb">SANTA CASA DE TUPI PAULISTA</h4>
					<blockquote>
						Uno Gestão de Saúde foi convidada para elaborar um processo de auditoria nos custos dos serviços prestados pela Santa Casa de Misericórdia de Tupi Paulista.
					</blockquote>
				</div>
				<div class="case-item-button">
					<a ui-sref="detalhes({ id : 2, '#': 'case' })" class="gb btn btn-primary case-button">VER CASE</a>
				</div>
			</div>

		</div>
	</div>
</div>

