<div class="case-detail">
	<div class="container" id="case">
	<h2 class="gb">CASES DE SUCESSO</h2>

	<div class="case-detail-box">
		<div class="case-detail-title">
			<h2 class="gb">{{ cases[caseID-1].title }}</h2>
			<h5 class="post-date">Postagem feita em 05 de Julho de 2017</h5>
		</div>
		<div class="case-detail-image">
			<img src="./img/cases/{{caseID}}_full.jpg" class="img-responsive" />
		</div>
		<div class="case-detail-description" data-ng-bind-html="cases[caseID-1].html"></div>
	</div>
</div>