<div class="enterprise">
	<div class="container-fluid" ng-class="{'bg-home' : state == 'empresa'}">
		<div class="container">
			<div class="description-box">
				<div class="row description">
					<div class="col-md-12 col-sm-12 col-xs-12" ng-bind-html="empresa.text_empresa"></div>
				</div>
			</div>
			<div class="description-box">
				<div class="row description">
					<div class="col-md-6 col-sm-12 col-xs-12" ng-bind-html="empresa.text_empresa2"></div>
				</div>
			</div>
		</div>
	</div>
</div>