<div class="container">
	<div class="row">
		<div class="logo col-md-6 col-sm-6 col-xs-12" ng-show="imgLogo">
			<a ui-sref="home">
				<img ng-src={{imgLogo}} />
			</a>
		</div>
		<div class="phone-box col-md-6 col-md-offset-0 col-sm-4 col-sm-offset-2 col-xs-12 gb" ng-show="config.phone">
			<div class="phone-box-content">
				<div class="social-links">
					<a target="_blank" class="{{s.name}}" href="{{s.link}}" title="{{s.name}}" ng-repeat="s in socials">
						<img ng-src="./img/header/{{s.name}}.png" />
					</a>
				</div>
				<div class="phone-content">
					<div class="phone-item">
						<img src="img/header/fone-ico.png" />
					</div>
					<div class="phone-item inline">
						<div class="phone-item">
							<span>TELEFONE</span>
						</div>
						<div class="phone-item">
							<span>{{ config.phone | customPhone:'ddd'}}</span>
							<span class="xf">{{ config.phone | customPhone:'phone'}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>