hr {
	border-top: 1px solid #d1d1d1;
}

table * { 
	vertical-align: middle !important;
}
img a{
	border: none;
}
.image-view {
	width: 100%;
	height: 288px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	margin-bottom: 0;
}
	.image-view img, .blog-gallery img {
		max-height: 100%;
		max-width: 100%;
	}

	.image-view.banner {
		height: 150px;
	}
	.image-view.servicos {
		height: 200px;
	}
	.image-view {
		height: 220px;
	}

.blog-gallery {
	width: 100%;
	min-height: 200px;
	margin-bottom: 0;
}
	.blog-gallery-item {
		height: 100px;
		text-align: center;
		padding: 0 5px 5px 0;
		position: relative;
	}
	.blog-gallery-item:first-child,
	.blog-gallery-item:nth-of-type(4n+1) {
		padding-left: 0;
	}
	.blog-gallery-item:nth-of-type(4n) {
		padding-right: 0;
	}
	.blog-gallery-item:nth-child(4n+1):nth-last-child(-n+4), 
	.blog-gallery-item:nth-child(4n+1):nth-last-child(-n+4) ~ div {
		padding-bottom: 0;
	}
		.blog-gallery-item .gallery-inner {
			border: 1px solid #CCC;
			line-height: 80px;
			height: 100%;
			padding: 5px;
			border-radius: 3px;
			background-color: #e0e0e0;
		}
.gallery-remove-item {
    position: absolute;
    top: 2px;
    right: 10px;
    z-index: 1;
    cursor: pointer;
    display: none;
}
	.blog-gallery-item:hover .gallery-remove-item {
		display: initial;
	}

.imagem-preview {
	min-height: 400px;
}

	.fix-height {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
		.fix-height > div {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
		}



/************************************************************
*						  	HOME							*
*************************************************************/

.home .box-header:not(:first-child) {
	border-top: 3px solid #00c0ef;
}

.alert.global {
	margin: 10px 0 0 0;
	padding: 10px 35px 10px 10px;
}

.user-panel>.info {
    padding: 5px 5px 5px 5px;
    line-height: 1;
    text-align: center;
    position: relative;
    left: initial;
}

span.logo-lg img {
    max-height: 50px;
    display: block;
    margin: 0 auto;
}

.skin-blue .main-header .navbar {
    background-color: #222d32;
}

.skin-blue .main-header .logo {
	background-color: #222d32;
}

.wrapper.login-bg {
	background-color: #ecf0f5;
}


/************************************************************
*						  EMPRESA							*
*************************************************************/

a.btn-preview {
	cursor: pointer;
	font-weight: initial;
}
	a.btn-preview:hover {
		font-weight: bold;
	}



/************************************************************
*						NEWSLETTERS							*
*************************************************************/

h3.box-title.news {
	line-height: 34px;
}