/* app css stylesheet */

/************************************************************
*						 MAIN STYLES	   					*
*************************************************************/

html, body {
	min-height: 100%;
	overflow-x: hidden;
}

body {
	font-family: 'Gotham Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #5d5d5d;
}

img{
	max-width: 100%;
}

.gb {
	font-family: 'Gotham Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.gi {
	font-family: 'Gotham Italic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

blockquote {
	padding: 0;
	border: none;
}

.pt20 {
	padding-top: 20px;
}

.content-view .container, footer {
	padding-top: 20px;
	padding-bottom: 20px;
}

.no-padding{
	padding-left:0 !important;
	padding-right: 0 !important;
	margin-right: 0 !important;
	margin-left: 0 !important;
}
.full-icon{
	font-size: 25px;
	color: #1d848f;
	margin-right: 10px;
	top: 5px;
	position: relative;

}
/************************************************************
*						  WEB FONTS							*
*************************************************************/

@font-face {
  font-family: 'Gotham Bold';
  src: url('fonts/bold/gotham.eot'); /* IE9 Compat Modes */
  src: url('fonts/bold/gotham.eot?#iefix') format('embedded-opentype'),
	   url('fonts/bold/gotham.woff') format('woff'),
	   url('fonts/bold/gotham.ttf')  format('truetype'),
	   url('fonts/bold/gotham.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Gotham Italic';
  src: url('fonts/italic/gotham.eot'); /* IE9 Compat Modes */
  src: url('fonts/italic/gotham.eot?#iefix') format('embedded-opentype'),
	   url('fonts/italic/gotham.woff') format('woff'),
	   url('fonts/italic/gotham.ttf')  format('truetype'),
	   url('fonts/italic/gotham.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Gotham Light';
  src: url('fonts/light/gotham.eot'); /* IE9 Compat Modes */
  src: url('fonts/light/gotham.eot?#iefix') format('embedded-opentype'),
	   url('fonts/light/gotham.woff') format('woff'),
	   url('fonts/light/gotham.ttf')  format('truetype'),
	   url('fonts/light/gotham.svg#svgFontName') format('svg'); /* Legacy iOS */
}


/************************************************************
*						  HEADER							*
*************************************************************/

header {
	height: 190px;
	background: url("../img/header/bg_header.jpg") center center no-repeat;
	background-size: cover;
}
	header .box-container {
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
	}
	header .logo {
		margin-right: auto;
	}
		header .logo a {
			display: block;
		}

	header .phone-box {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
		margin-left: auto;
	}
		header .phone-box .phone-item.inline {
			margin-left: 15px;
		}
			header .phone-box .phone-item span {
				font-size: 16px;
			}
			header .phone-box .phone-item span.xf {
				font-size: 23px;
			}


/************************************************************
*						  FOOTER							*
*************************************************************/

.newsletter {
	background-color: #0f444a;
	color: #FFF;
	padding: 20px 0;
}
	.newsletter p {
		font-size: 15px;
	}
	.newsletter .news-col {
		padding-top: 5px;
		padding-bottom: 5px;
		height: 50px;
	}
		.newsletter .news-col .form-control {
			border-radius: 0;
			height: 100%;
			background-color: transparent;
			border: 1px solid #FFF;
			color: #FFF;

		}
			.newsletter .news-col input[type="text"]::-webkit-input-placeholder { 	/* WebKit, Blink, Edge */
				color: #FFF;
			}
			.newsletter .news-col input[type="text"]:-moz-placeholder { 			/* Mozilla Firefox 4 to 18 */
				color: #FFF;
				opacity: 1;
			}
			.newsletter .news-col input[type="text"]::-moz-placeholder { 			/* Mozilla Firefox 19+ */
				color: #FFF;
				opacity: 1;
			}
			.newsletter .news-col input[type="text"]:-ms-input-placeholder { 		/* Internet Explorer 10-11 */
				color: #FFF;
			}
			.newsletter .news-col input[type="text"]::-ms-input-placeholder { 		/* Microsoft Edge */
				color: #FFF;
			}

		.newsletter .news-col .btn-newsletter {
			width: 100%;
			height: 100%;
			background-color: #6cb3a0;
			border-radius: 0;
			color: #FFF;
		}

footer {
	background: url('../img/footer/bg_footer.jpg') center center no-repeat;
	background-size: cover;
	color: #FFF;
}
	footer * {
		vertical-align: middle;
	}
	footer .glyphicon {
		font-size: 18px;
	}
	footer .logo a {
		display: inline-block;
	}
		footer .logo a img {
			max-width: 180px;
		}
	footer .phone-number {
		font-size: 20px;
	}
	footer .fb {
		display: inline-block;
	}
		footer .container .col-md-12:last-child {
			padding-top: 10px;
		}
			footer .container .col-md-12:last-child span {
				text-transform: uppercase;
				font-weight: bold;
				font-size: 12px;
			}


/************************************************************
*						  NAVBAR							*
*************************************************************/
.navbar {
	background-color: #16646d;
	border: none;
	border-radius: 0;
	border-bottom: 6px solid #1d848f;
	margin-bottom: 0;
}
	.navbar-default .navbar-toggle:focus, 
	.navbar-default .navbar-toggle:hover {
		background-color: #00a1af;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar .nav.navbar-nav {
		float: none;
	}
		.navbar .nav li > a {
			color: #FFF;
			font-size: 13px;
		}
			.navbar .nav li > a:hover {
				text-decoration: underline;
			}
			.navbar .nav li > a:hover,
			.navbar .nav li > a:active,
			.navbar .nav li > a:visited,
			.navbar .nav li > a:focus {
				color: #FFF;
			}

.menu-active {
	background-color: #1d848f;
	font-weight: bold;
}


/************************************************************
*						  	HOME							*
*************************************************************/

.carousel-caption {
	bottom: 0;
	text-align: left;
	padding: 0;
}
	.carousel-caption h1,
	.carousel-caption p {
		margin: 0;
	}
.carousel-inner > .item > img {
	min-width: 100%;
}

.description blockquote {
	text-align: justify;
	font-size: 16px;
	line-height: 28px;
	
}
.business-info .description blockquote {
	margin-bottom: 40px;
}

.description p {
	font-size: 15px;
	margin-bottom: 35px;
}

.business-description {
	background: url('../img/home/bg_home2.jpg') center center no-repeat;
	background-size: cover;
	color: #FFF;
}

.advice-box-item {
	cursor: pointer;
}
	.advice-box-item .filter {
		display: none;
		left: 0;
		top: 0;
		height: 100%;
		position: absolute;
		width: 100%;
		opacity: 0.15;
		background-color: #000;
		padding-left: 15px;
		padding-right: 15px;
	}
	.advice-box-item:hover .filter {
		display: block;
	}
.advice-box .advice-item {
	margin: 30px 0;
	height: 250px;
}
	.advice-box .circle {
		background-color: #ced6d7;
		border-radius: 50%;
		height: 130px;
		width: 130px;
	}
		.advice-box .circle svg {
			width: 50%;
			height: 100%;
			display: block;
			margin: 0 auto;
			vertical-align: middle;
		}
	.advice-box .circle,
	.advice-box .advice-item-description {
		margin: 0 auto;
	}
		.advice-box .advice-item-description {
			text-transform: uppercase;
			padding-top: 10px;
			width: 180px;
		}

.clients-home {
	background: url('../img/home/bg_clients.jpg') center center no-repeat;
	background-size: cover;
}


/************************************************************
*						 A EMPRESA							*
*************************************************************/

.enterprise .description-box {
	margin-bottom: 20px;
}


/************************************************************
*					    FALE CONOSCO						*
*************************************************************/

.contact-form {
	margin-top: 30px;
}
	.contact-form ::-webkit-input-placeholder { 	/* WebKit, Blink, Edge */
		color: #a7aaaa;
		font-family: 'Gotham Light';
	}
	.contact-form :-moz-placeholder { 				/* Mozilla Firefox 4 to 18 */
		color: #a7aaaa;
		opacity: 1;
		font-family: 'Gotham Light';
	}
	.contact-form ::-moz-placeholder { 				/* Mozilla Firefox 19+ */
		color: #a7aaaa;
		opacity: 1;
		font-family: 'Gotham Light';
	}
	.contact-form :-ms-input-placeholder { 			/* Internet Explorer 10-11 */
		color: #a7aaaa;
		font-family: 'Gotham Light';
	}
	.contact-form ::-ms-input-placeholder { 		/* Microsoft Edge */
		color: #a7aaaa;
		font-family: 'Gotham Light';
	}

	.contact-form input, 
	.contact-form select {
		height: 45px;
	}
	.contact-form input,
	.contact-form select,
	.contact-form textarea,
	.contact-form button {
		border-radius: 20px;
	}
	.contact-form input,
	.contact-form select,
	.contact-form textarea {
		border: 2px solid #23a0ad;
	}
	.contact-form textarea {
		resize: none;
		min-height: 165px;
	}
	.contact-form button {
		width: 200px;
		text-transform: uppercase;
		background-color: #1d848f;
	}
		.contact-form button:hover,
		.contact-form button:active,
		.contact-form button:focus,
		.contact-form button:active:hover,
		.contact-form button:active:focus {
			background-color: #15666f;
		}

	.contact-address {
		color: #1d848f;
	}
	#address-map {
		height: 350px;
	}


/************************************************************
*					SERVIÇOS E SOLUÇÕES						*
*************************************************************/

.services-solutions .services-details {
	margin-top: 20px;
}
	.services-details .service-item-box {
		padding-top: 20px;
		margin-bottom: 40px;
		position: relative;
	}
		.services-details .service-item-avatar {
			position: initial;
			width: 80px;
			height: 80px;
			border: 2px dashed #55a1a8;
			border-radius: 50%;
			background-color: #FFFFFF;
			display: -webkit-inline-box;
			display: -ms-inline-flexbox;
			display: inline-flex;
			vertical-align: middle;
		}
			.services-details .service-item-avatar svg, 
			.services-details .service-item-avatar img {
				margin: 0 auto;
				width: 50%;
			}
			.services-details .service-item-avatar svg {
				display: block;
				overflow: initial;
				vertical-align: middle;
				height: 100% !important;
			}
		.services-details .service-item-title {
			color: #55a1a8;
		}
		.services-details .service-item-description blockquote {
			text-align: justify;
			line-height: 36px;
			margin-bottom: 10px;
		}

			.services-details .service-item-description a {
				font-size: 16px;			
			}
			.services-details .service-item-description a,
			.services-details .service-item-description a:hover,
			.services-details .service-item-description a:active,
			.services-details .service-item-description a:visited,
			.services-details .service-item-description a:focus {
				color: #55a1a8;
			}

.services-details .service-item-description.open {
	display: block;
}


/************************************************************
*						  CLIENTES							*
*************************************************************/

.clients blockquote {
	text-align: justify;
	line-height: 32px;
}

.clients-gallery {
	margin-top: 40px;
	margin-bottom: 40px;
}

	.clients-gallery-item {
		padding: 15px;
		height: 250px;
	}
		.clients-gallery-item .img-thumbnail {
			background-color: #bbbbbb;
			border-radius: 0;
			border: none;
			padding: 2px;
		}
		.clients-gallery-item .item-description {
			padding: 10px 0;
		}
			.clients-gallery-item .item-description h5 {
				text-transform: uppercase;
			}


/************************************************************
*							CASES							*
*************************************************************/

.cases h2.gb {
	margin-bottom: 20px;
}

.cases-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;

	padding-top: 30px;
}
	.cases-list > .case-item {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
		padding: 15px 15px 30px;
	}
		.case-item-description {
			padding: 15px 0;
		}
			.case-item-description h4 {
				color: #008591;
			}

		.case-item-image img {
			width: 100%;
		}

		.case-item-button {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			margin-top: auto;
			-webkit-box-pack: end;
				-ms-flex-pack: end;
					justify-content: flex-end;
		}
			.case-item-button a {
				border-radius: 20px;
				background-color: #008591;
			}
				.case-item-button a:hover,
				.case-item-button a:active,
				.case-item-button a:focus {
					background-color: #006d77;
				}
				.case-item-button a:active:focus {
					background-color: #024248;
				}


/************************************************************
*						CASES DETAILS						*
*************************************************************/

.case-detail-box {
	margin: 40px 0;
}
	.case-detail-title h2 {
		color: #008591;
		margin-bottom: 0;
	}
	.case-detail-title h5 {
		margin-top: 0;
		font-weight: bold;
	}

	.case-detail-image {
		margin-bottom: 40px;
	}

	.case-detail-description p,
	.case-detail-description .featured-box {
		line-height: 26px;
		margin-bottom: 20px;
		text-align: justify;
		font-size: 16px;
		font-weight: bold;
	}
		.case-detail-description .featured-box {
			margin: 80px 0;
		}
			.case-detail-description .featured-box .featured-item {
				border: 2px dashed #018592;
				padding: 20px 60px;
			}
			.case-detail-description .featured-box .featured-item.solid-bgcolor {
				border: none;
				background: #018592;
				color: #FFF;
			}
				.case-detail-description .featured-box .featured-item:not(:last-child) {
					margin-bottom: 40px;
				}
				.case-detail-description .featured-box .featured-item span {
					color: #018592;
				}


/************************************************************
*							BLOG							*
*************************************************************/
.list-blog-news{
	width: 100%;
	height:auto;
	display: block;
	padding-bottom: 3em;
	border-bottom: 1px solid #dfdede;
}
.blog-title{
	font-family: 'Gotham Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 2.5em;
	letter-spacing: -2px;
	color: #1d848f;
}
.list-header-blog{
	padding: 25px 0;
	display: block;
}
.list-header-blog li{
	color: #a7aaaa;
	font-family: 'Gotham Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.list-blog-news p{
	line-height: 30px;
	font-size: 18px;
	margin: 20px 0;
}
.readmore a{
	color: #1d848f;
	float: left;
	font-size: 15px;
	text-transform: uppercase;
	font-family: 'Gotham Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.list-blog-news .nav>li>a{
	padding: 10px 0 !important;
}
.share-link{
	position: relative;
	text-transform: uppercase;
	color: #1d848f;
	top:10px;
	font-size: 15px;
	font-family: 'Gotham Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.space-link{
	margin-right: 25px;
}
.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	background-color: transparent;
}
.list-lastnews{
	display: block;
	margin: 20px 0;
	min-height: 90px;
	max-height: 90px;
}
.image-news{
	float: left;
	margin-right: 10px;
	width: 120px;
}
.link-news{
	color: #a7aaaa;
	font-size: 16px;
}
.link-news:hover{
	color: #a7aaaa;
	text-decoration: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	font-family: 'Gotham Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #1d848f;
	font-size: 18px;
	cursor: default;
	border: none;
}
.nav-tabs {
	border-bottom: none;
}
.nav-tabs>li>a {
	border: none;
	border-radius:0;
	font-family: 'Gotham Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #a7aaaa;
}
.pagination-right{
	float: right;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
	z-index: 2;
	color: #fff;
	background-color: #1d848f;
	border-color: #1d848f;
	border: 3px solid #d0d2d2;
}
.pagination>li>a, .pagination>li>span {
	color: #1d848f;
	background-color: #d0d2d2;
	border: 3px solid #d0d2d2;
}
li.tags{
	float: left;
	margin-top: 10px;
	font-family: 'Gotham Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #1d848f;
	font-size: 18px;
}
.tags a{
	display: inline !important;
	font-size: 14px;
	padding: 0 !important;
	color: #a7aaaa;
}